$dark: #333; 
$red: #E0171A; 
$green: #187510; 
$gray: #6D6D6D; 
$lgray: #E6E6E6; 
$mgray: #b8b8b8; 
$white: #ffffff;
/* media breakpoints */

$w1500: 1500px;
$w1440: 1440px;
$w1376: 1376px;
$w1280: 1280px;
$w1100: 1100px;
$w1024: 1024px;
$w940: 940px;
$w760: 767px;
$w580: 580px;
$w480: 480px;
$w360: 360px;

/*  */