mixin minicard-banner()
  .minicard-banner
    .minicard-banner__wrp
      .minicard-banner__bg: +bgimage('/img/common/banner-bg.png')
      .minicard-banner__content
        .minicard-banner__title Воспользуйтесь бесплатной услугой замерщика
        .minicard-banner__btn
          a(href='#'): button.btn.btn-red(data-modal-open="call") Вызвать замерщика
