mixin catalog-filter(data)
  .catalog-filter
    .catalog-filter__wrp
      .catalog-filter__aside
        a(href="#")
          button.btn.btn-line Уточнить раздел
      .catalog-filter__aside
        .catalog-filter-checkbox
          .catalog-filter-checkbox__title 