.header-top
  .container-1770
    .header-top__info
      .header-info(data-tooltip="content")
        .header-info__icon 
          +icons('#ic_info', 15)
        .header-info__text Информация для покупателей 
        .header-info__arr
          +icons('#ic_arr-down', 8)
        .tooltip-content Оптовая и розничная продажа дверной фурнитуры в Беларуси 
      .header-info
        .header-info__icon
          +icons('#ic_clock', 15)
        .header-info__text Понедельник - Пятница 
          span 9:00 - 17:15

    .header-top__phones
      .header-phone(data-tooltip="content")
        .header-phone__text Розничные продажи
        .header-phone__number  
          a(href="tel:+375(44)788-88-52") +375 (44) 788-88-52
        .header-phone__arr
          +icons('#ic_arr-down', 8)
        .tooltip-content 
          ul
            li:a(href="tel:+375 (44) 788-88-52") +375 (44) 788-88-52
            li:a(href="tel:+375 (44) 788-88-52") +375 (44) 788-88-52
      .header-phone(data-tooltip="content")
        .header-phone__text Оптовые продажи: 
        .header-phone__number 
          a(href="tel:+375(29)688-88-96") +375 (29) 688-88-96
        .header-phone__arr
          +icons('#ic_arr-down', 8)
        .tooltip-content
          ul
            li:a(href="tel:+375 (44) 788-88-52") +375 (44) 788-88-52
            li:a(href="tel:+375 (44) 788-88-52") +375 (44) 788-88-52

.header-main
  .container-1770
    .header-main__logo
      a(href="/")
        img(src="/img/svg/logo.svg")
    .header-main__nav
      .nav__hamburger
        i
        i
        i
      nav
        ul
          li
            a(href="catalog.html") Каталог фурнитуры 
          li
            a(href="#") Акции
          li
            a(href="#") Услуги
      .nav__search
        span: +icons('#ic_search', 17)
        form.form.hide: input(type="text" placeholder="Найти...")
    .header-main__action
      .header-main__fav
        a(href="fovorite.html")
          +icons('#ic_heart', 17)
      .header-main__cart
        a(href="/basket.html")
          +icons('#ic_cart', 20)
          span.cart-count 10 
          span.cart-text товаров на
          span.cart-price 1230 BYN
      .header-main__login
        a(href="#" data-modal-open='right')
          +icons('#ic_user', 17) 
          span Войти
