-
  const menuInfo2 = [
    {link: 'О компании', href: 'about.html'},
    {link: 'Где купить', href: 'where-buy.html'},
    {link: 'Партнерам', href: 'partners.html'},
    {link: 'Бренды', href: 'brands.html'},
    {link: 'Доставка и оплата', href: 'delivery.html'},
    {link: 'Как оформить заказ', href: 'how-order.html'},
    {link: 'Новости', href: 'news.html'},
  ];

.header-top
  .container-1770
    .header-top__info
      .header-info(data-tooltip="content")
        .header-info__icon 
          +icons('#ic_info', 15)
        .header-info__text Информация для покупателей 
        .header-info__arr
          +icons('#ic_arr-down', 8)
        .tooltip-content
          nav 
            ul.header-menu-info
              each item in menuInfo2
                li: a(href=""+item.href+"")= item.link

      .header-info
        .header-info__icon
          +icons('#ic_clock', 15)
        .header-info__text Понедельник - Пятница 
          span 9:00 - 17:15


      .header-top__find
        +icons('#ic_search', 15)
        span Поиск 
      .header-top__wishlist
        +icons('#ic_heart', 15)
        i.total-wishlist.hide( data-totalwishlist="")
        span Избранное

.header-main
  .container-1770
    .header-main__logo
      a(href="/")
        img(src="/img/svg/logo.svg")
    .header-main__nav
      .nav__hamburger
        i
        i
        i
      nav
        ul
          li: a(href="catalog.html") Каталог дверей 
          li: a(href="action.html") Акции
          li: a(href="about.html") Услуги

    .header-main__phone.header-main__phone--door
      .header-phone
        .header-phone__title Узнайте про двери:
        .header-phone__number: a(href=':tel375296988425') +375 (29) 698-84-25

    .header-main__phone.header-main__phone--consult
      .header-phone
        .header-phone__title Получите консультацию:
        .header-phone__number: a(href=':tel375296143896') +375 (29) 614-38-96

    .header-main__btn
      button.btn.btn-red(data-modal-open="call") Вызвать замерщика


