
.card-similar{
    &.owl-carousel.owl-loaded.owl-drag .owl-stage-outer {
        border: 1px solid $lgray;
    }

    &.owl-carousel.owl-loaded.owl-drag .owl-stage-outer .minicard {
        border: none;
        border-right: 1px solid $lgray;
    }

    &__item{

        position: relative;

        
        & .minicard{

            &::before{
                content: '';
                background: $red;
                width: 100%;
                height: 2px;
                display: block;
                position: absolute;
                top: 0%;
                left: 0;
                right: 0;
                opacity: 0;
                
            }
            
            &:hover{

                &::before{
                    opacity: 1;
                }
            }
        }
    }
}





