.favorites{


    &__list{
        @include row-flex();
        @include md(justify-content, flex-start);

        margin: 0;
    }
    &__item{
        @include col();
        @include size-full(2.4);

        @media screen and (max-width: 1620px) {
            & .minicard__action-tofav span {
                display: none;
            }
        }

        @media screen and (max-width: $w1280) {
            @include size-full(3);
        }

        @media screen and (max-width: $w1024) {
            @include size-full(4);
        }

        @media screen and (max-width: $w760) {
            @include size-full(4);
        }

        @media screen and (max-width: 650px) {
            @include size-full(6);
        }

        @media screen and (max-width: $w360) {
            @include size-full(12);
        }
    

        margin-left: -1px;
        margin-right: 0;
        margin-top: -1px;
        margin-bottom: 0;
        position: relative;

        

        &:hover{
            z-index: 111;
        }
    }
}