include ../../blocks/components/headers/headers 

mixin icons(id, size)
  if size
    svg(width=''+size+'' height=''+size+'')
      use(xlink:href="/img/sprites/sprite.svg"+id)
  else
    svg(width="25" height="25")
      use(xlink:href="/img/sprites/sprite.svg"+id)

mixin bgimage(url)
  span(style="background-image: url("+url+")")

mixin checkbox(label, name, check)
  label.checkbox
    if check
      input(type="checkbox" name=""+name+"" checked="")
    else
      input(type="checkbox" name=""+name+"" )
    span.checkbox__elem
    span.checkbox__text= label





