mixin delivery-services()
  .delivery-services
    .delivery-services__item
      .delivery-services__title Доставка
      .delivery-services__desc Мы осуществляем бесплатную доставку дверей по городу.
    .delivery-services__item
      .delivery-services__title Установка дверей
      .delivery-services__desc Мы производим установку дверей, которые Вы приобретаете у нас в магазинах. Стоимость установки от 40 руб и выше в зависимости от сложности выполняемых работ.
