include ../../components/headers/headers

mixin pagedesc(data)
  .pagedesc
    .pagedesc__title 
      +h1('Преимущества')
    .pagedesc__text 
      p  Привлекательные цены на дверные замки любых типов как для оптовых, так и розничных покупателей. Отдельно стоит ответить, что компания регулярно проводит акции и предлагает фурнитуру со скидкой. Например, можно купить полный комплект (замки, ручки, петли) на 7% дешевле, при покупке дверного полотна.
      p  Широкий выбор моделей. Наши клиенты могут купить дверной замок для любого полотна (МДФ, металл, массив) а также накладные или навесные варианты.
        |Широкая география работы. Можно купить дверной замок в Минске и других городах Беларуси. Наши и партнерские магазины работают в Витебске и Орше. Возможна доставка по стране.
