mixin form ()
  form(action="" id="reviewForm")
    .form
      .form__item.column
        .form__subitem: input(type='text' placeholder="Ваше имя")
        .form__subitem: input(type='email' placeholder="Ваш email")
      .form__item
        .form__subitem: textarea(placeholder="Ваше имя")
