.form {

    & input, textarea{
        width: 100%;
        border: 1px solid $lgray;
        padding: rem(10) rem(15);

        &:focus{
            border: 1px solid $red;
        }
    }

    

    & textarea{
        min-height: rem(80);
        max-width: 100%;
        resize: vertical;
    }

    &__item{

        display: flex;
        align-items: center;

        @media screen and (max-width: $w480) {
            flex-direction: column;
        }
        

        &.column{
            flex-direction: column;

            & .form__subitem {
                margin-right: 0;
            }
        }

        &.pull-right{
            justify-content: flex-end;
        }
    }
    

    &__subitem{
        flex-grow: 1;
        margin-bottom: rem(10);
        margin-right: rem(10);
        width: 100%;

        & span {
            color: $gray;
            padding: rem(10) rem(5);
            display: block;
        }

        &:last-child{
            margin-right: 0 !important;
        }

        & input{
            width: 100%;
        }

        @media screen and (max-width: $w480) {
            margin-right: 0;
        }
    }
}