.form {

    & input, textarea{
        width: 100%;
        border: 1px solid $lgray;
        padding: rem(10) rem(15);
        font-style: italic;

        &:focus{
            border: 1px solid $red;
        }
    }

    

    & textarea{
        min-height: rem(80);
        max-width: 100%;
        resize: vertical;
    }

    &__item{

        display: flex;
        align-items: center;

        @media screen and (max-width: $w480) {
            flex-direction: column;
        }
        

        &.column{
            flex-direction: column;

            & .form__subitem {
                margin-right: 0;
            }
        }

        &.pull-right{
            justify-content: flex-end;
        }
    }
    

    &__subitem{
        flex-grow: 1;
        margin-bottom: rem(10);
        margin-right: rem(10);
        width: 100%;

        &>span {
            color: $gray;
            padding: rem(10) rem(5);
            display: block;
        }

        &:last-child{
            margin-right: 0 !important;
        }

        & input{
            width: 100%;
        }

        @media screen and (max-width: $w480) {
            margin-right: 0;
        }
    }

    & fieldset{
        border: none;
        padding: 0;
        margin-top: rem(40);

        &:first-child{
            margin-top: rem(0);
        }
    }

    & legend{
        margin-bottom: rem(30);
    }

    &__select{
       
            position: relative;
            display: block;
            cursor: pointer;
            outline: none;
            width: auto;
            background: #fff;
            border: 1px solid $lgray;
            
        
            & select {  
            padding-right: 25px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-width: 0;
            height: rem(40);
            padding-left: 12px;
            min-width: 100%;
            cursor: pointer;
            outline: none;
            background: #fff;
            border-radius: 5px; 
            width: 100%;
            color: $gray;
            font-style: italic;
        
            & option{
                font-family: 'arial';
                font-size: 13px;
                }
        
            &::-ms-expand {
                display: none;
                }
            }
        
            &:after {
                content: "";
                padding: 0 8px 0 8px;
                font-size: 12px;
                position: absolute;
                right: 0;
                /*! top: 4px; */
                z-index: 1;
                text-align: center;
                width: 35px;
                height: 100%;
                pointer-events: none;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background: url(/img/svg/ic_arr-down.svg);
                background-repeat: no-repeat;
                background-position: center;
                /*! margin-right: 8px; */
                top: 0;
                background-size: 10px;
                /*! border-bottom: 1px solid #888796; */
        }
        
          
    }
}