mixin basket-aside()
  .basket-aside
    .basket-aside__title
      +h2('Итого')
    .basket-aside__subtitle 10
      span товаров на
      span.total-price-aside  0
      | BYN
    .basket-aside__type
      .basket-aside__radio
      +radio('Физическое лицо', 'type', '1', true)
      .basket-aside__radio
      +radio('Юридическое лицо', 'type', '2') 
    .basket-aside__form.hide
      form(action="basket-ordering.html")
        .form
          .form__item: .form__subitem: input(type="email" placeholder="Email")  
          .form__item: .form__subitem: input(type="password" placeholder="Пароль")  
          .form__item: .form__subitem: button.btn.btn-red.btn-full Оформить заказ
    .basket-aside__button
      a(href="basket-ordering-i.html"): button.btn.btn-red.btn-full Оформить заказ

mixin basket-aside-ordering(data)
  .basket-aside
    .basket-aside__title
      +h2('Ваш заказ')
    .basket-aside__subtitle 
      div
        |10   <span> товаров на </span> 1 230.30 BYN
      div
        |<span> Доставка курьерской службой: </span> 10 BYN
      div
        |10   <span> Итого: </span> 1 230.30 BYN

    .basket-aside__button
      a(href="#"): button.btn.btn-red.btn-full Оформить заказ

    .basket-aside__edit-order
      a(href="basket.html") Редактировать заказ
    .basket-aside__goods
      .basket-aside__goods-list
        each item, index in data
          if index < 5
            .basket-aside__goods-item
              .basket-minicard
                .basket-minicard__image
                  a(href="card.html"): span: img(src=""+item.image+"", alt="")
                .basket-minicard__desc
                  .basket-minicard__title
                    a(href="card.html")!= item.title
                  .basket-minicard__count Кол-во: 
                    span 1
                  .basket-minicard__cost Стоимость: 
                    span!= item.price
