.about-item{

    display: flex;

    &__icons{
        width: rem(40);
        min-width: rem(40);
        margin-right: rem(15);


        & span {
            width: 100%;
            padding-top: 100%;
            background-color: transparent;
            display: block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__desc{
        flex-grow: 1;
    }

    &__title{
        font-size: 18px;
        margin-bottom: rem(15);
    }

    &__text{
        color: $gray;
    }
}