.product-slider{

    &__tabs {
        display: flex;
        justify-content: space-between;
        padding: rem(50) 0;
        overflow-y: auto;
    } 

    &__list{
       & ul {
           display: flex;
           align-items: center;
           list-style-type: none;
           height: 100%;
       } 

       & li {
           margin-right: rem(15);
           height: rem(40);
           display: flex;
           align-items: center;
           padding: 0 rem(25);
           border: 1px solid $lgray;
           border-radius: rem(40);
           transition: 0.3s ease;
           cursor: pointer;
           white-space: nowrap;
           

           &:hover,
           &.active{
               background: $dark;
               color: $white;
               border-color: $dark;
               cursor: pointer;
           }
       }
    }

    &__nav {
        display: flex;

        &>div:last-child{
            margin-left: rem(10);
        }

        @media screen and (max-width: $w480){
            display: none;
        }
    }

    &__nav-prev,
    &__nav-next{
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(40);
        height: rem(40);
        border: 1px solid $lgray;
        border-radius: 50%; 
        cursor: pointer;

        &:hover{
            border-color: $red;
        }
    }

    &__tabscontainer{
        &.owl-carousel.owl-loaded.owl-drag .owl-stage-outer {
            border: 1px solid $lgray;
        }

        &.owl-carousel.owl-loaded.owl-drag .owl-stage-outer .minicard {
            border: none;
            border-right: 1px solid $lgray;
        }
    } 

    &__slide{

        position: relative;

        
        & .minicard{

            &::before{
                content: '';
                background: $red;
                width: 100%;
                height: 2px;
                display: block;
                position: absolute;
                top: 0%;
                left: 0;
                right: 0;
                opacity: 0;
                
            }
            
            &:hover{

                &::before{
                    opacity: 1;
                }
            }
        }
    }
}
