include ../minicard/minicard.pug

mixin product-slider-home(data)
  .product-slider__tabs
    .product-slider__list
      ul
        each link, index in ['Хит продаж', 'Новинка', 'Распродажа']
          li(data-filter-id=''+index+'' class=''+(!index?'active':'')+'')= link
    .product-slider__nav
      .product-slider__nav-prev
        +icons('#ic_arr-left', 12)
      .product-slider__nav-next
        +icons('#ic_arr-right', 12)
  .product-slider__tabscontainer.owl-carousel
    each item, index in data
      if index <= 4
        .product-slider__slide(data-filter="0")
          +minicard(item)
      if index >=4 && index <=9
        .product-slider__slide(data-filter="1")
          +minicard(item)
      if index >=9
        .product-slider__slide(data-filter="2")
          +minicard(item)
  .slider-hidden