include ../minicard/minicard.pug

mixin product-slider-home(data)
  .product-slider__tabs
    .product-slider__list
      ul
        each link, index in ['Хит продаж', 'Новинка', 'Распродажа']
          li(data-filter-id=''+index+'' class=''+(!index?'active':'')+'')= link
    .product-slider__nav
      .product-slider__nav-prev
        +icons('#ic_arr-left', 12)
      .product-slider__nav-next
        +icons('#ic_arr-right', 12)
  .product-slider__tabscontainer.owl-carousel
    each item, index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
      if item <= 5
        .product-slider__slide(data-filter="0")
          +minicard(data)
      if item >=5 && item <=10
        .product-slider__slide(data-filter="1")
          +minicard(data)
      if item >=10
        .product-slider__slide(data-filter="2")
          +minicard(data)
  .slider-hidden