extends ../layouts/home
include ../../blocks/modules/page404/page404

block variables


block content
  .page-notfound
    +page404()

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
