extends ../layouts/catalog

include ../../blocks/modules/menu-catalog/menu-catalog 
include ../../blocks/modules/menu-info/menu-info
include ../../blocks/modules/item-action/item-action

include ../../blocks/components/breadcrumb/breadcrumb  

block variables
  include ../../data/menu
  include ../../data/menu-info
  include ../../data/news

block aside
  +menu-info(menuInfo, 7)
block content
  .page-info
    .page-info__h1
      h1 Акции
    .page-info__breadcrumb
      +breadcrumb(['Главная', 'Акции'])
    .page-info__content
      .news
        .news__list
          each item in action
            .news__item
              +item-action(item)


  +menu-catalog(menu)

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")