extends ../layouts/card

include ../../blocks/components/breadcrumb/breadcrumb
include ../../blocks/modules/basketcard/basketcard
include ../../blocks/modules/basket-aside/basket-aside

block variables
  include ../../data/catalog 

block content

  .page-basket
    .container-1310
      .page-basket__h1
        h1 Корзина
      .page-basket__breadcrumb
        +breadcrumb(['Главная','Корзина'])
      .page-basket__content
        .page-basket__main
          .page-basket__list
            each item in catalog
              .page-basket__item
               +basketcard(item)
          .page-basket__aside
            +basket-aside()




block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
