extends ../layouts/card

include ../../blocks/components/breadcrumb/breadcrumb
include ../../blocks/modules/card-moreinfo/card-moreinfo
include ../../blocks/modules/cart-similar/cart-similar 

block variables
  - const title = "Ulisskom";
  include ../../data/catalog 

block content

  .page-basket
    .container-1310
      .page-basket__bareadcrumb
        +breadcrumb(['Главная','Корзина'])
      .page-basket__info



block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
