extends ../layouts/catalog

block variables
  - const title = "Ulisskom - Catalog";


block aside
  div aside
block content
  div content  


block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")