extends ../layouts/catalog

include ../../blocks/modules/menu-catalog/menu-catalog 
include ../../blocks/modules/menu-info/menu-info
include ../../blocks/modules/mobile-menu-button/mobile-menu-button
include ../../blocks/modules/delivery-services/delivery-services

include ../../blocks/components/breadcrumb/breadcrumb 

block variables
  include ../../data/menu
  include ../../data/menu-info

block aside
  +menu-info(menuInfo, 4)
block content
  .page-info
    .page-info__h1
      h1 Доставка и оплата
    .page-info__breadcrumb
      +breadcrumb(['Главная', 'Доставка и оплата'])
    .page-info__content
      .page-info__text

        p Наша компания ценит своих покупателей и прилагает максимум усилий, чтобы сделать покупки в наших магазинах выгодными и удобными для вас.

        +delivery-services()

        h2 В стандартную установку входит:
        ul
          li снятие размеров с выездом в черте города
          li доставка металлической двери (без подъёма на этаж)
          li демонтаж старой деревянной двери (без сохранения коробки)
          li установка новой металлической двери

        h2 За дополнительную плату производятся следующие работы*:
        ul
          li подготовка проёма (сбивание штукатурки по периметру проёма)
          li расширение дверного проёма
          li демонтаж старой металлической двери
          li резка наличника
          li выезд за город
          li подъём на этаж
          li демонтаж старой двери с сохранением коробки (при возможности выполнения)
          li повторный выезд по вине заказчика
          li прочие


  +menu-catalog(menu)
  +mobile-menu-button('Меню', '#ic_menu')

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")