extends ../layouts/home

include ../../blocks/modules/favorites/favorites
include ../../blocks/components/breadcrumb/breadcrumb
include ../../blocks/modules/menu-catalog/menu-catalog

block variables
  - const title = "Избранное";
  include ../../data/catalog 
  include ../../data/menu

block content
  .container
    .page-favorite
      .page-favorite__h1
        h1 Избранное
      .page-favorite__breadcrumb
        +breadcrumb(['Главная', 'Избранное'])
      +favorites(catalog)
      +menu-catalog(menu)

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")