extends ../layouts/catalog

include ../../blocks/modules/menu-catalog/menu-catalog 
include ../../blocks/modules/menu-info/menu-info
include ../../blocks/modules/item-news/item-news 
include ../../blocks/modules/mobile-menu-button/mobile-menu-button

include ../../blocks/components/breadcrumb/breadcrumb 

block variables
  include ../../data/menu
  include ../../data/menu-info
  include ../../data/news

block aside
  +menu-info(menuInfo, 3)
block content

  -
    const prop = [
      {name:'Тип двери', value: 'квартирная'},
      {name:'Толщина металла', value: '1мм'},
      {name:'Панель фрезерованная', value: 'МДФ 8мм'},
      {name:'Отделка снаружи', value: 'металл со штампом'},
      {name:'Окраска', value: 'полимерное покрытие муар черный'},
      {name:'Толщина полотна', value: '70мм'},
      {name:'Уплотнитель', value: '2 контура'},
      {name:'Петли', value: 'наружные, 2шт'},
      {name:'Угол открывания', value: '180°'},
      {name:'Габариты по коробке', value: '2050*860/960'},
      {name:'Основной замок', value: 'цилиндровый'},
      {name:'Дополнительный', value: 'сувальдный'},
      {name:'Наполнение двери', value: 'пенополистирол'},
    ]


  .page-info
    .page-info__h1
      h1 Встречайте новый бренд - VELA
    .page-info__breadcrumb
      +breadcrumb(['Главная', 'Новости', 'Встречайте новый бренд - VELA'])
    .page-info__details
      .page-info__text
        .news-details
          .news-details__article
            .news-details__date
              span 17.05.2019
            .news-details__image
              span(style="background-image: url(/img/news/img2.jpg)")
            .news-details__text
              

              .stock
                .stock__images
                  .stock-images
                    .stock-images__item: a(href='#'): +bgimage('/img/minicard/img10.png')
                    .stock-images__item: a(href='#'): +bgimage('/img/minicard/img10.png')
                    .stock-images__item: a(href='#'): +bgimage('/img/minicard/img10.png')
                    .stock-images__item: a(href='#'): +bgimage('/img/minicard/img10.png')
                    .stock-images__item: a(href='#'): +bgimage('/img/minicard/img10.png')
                .stock__main
                  .stock__order
                    .stock__order-price
                      small Цена за комплект:
                      strong 625 BYN
                    .stock__order-btn
                      button.btn.btn-red Заказать
                      button.btn.btn-line Задать вопрос
                  .stock__title Небольшой вводный текст описания: Новинка! Дверь квартирная. В наличии на складе 2 модели квартирных дверей Ф1 и Ф2. Цвета: Муар черный / Бьянко, Эшвайт.
                  .stock__prop
                    .moreinfo-props
                      ul
                        each item in prop
                          li 
                            span.moreinfo-props__name= item.name
                            span.moreinfo-props__dots 
                            span.moreinfo-props__val= item.value


            .news-details__back
              a(href="news.html" )
                span
                  +icons('#ic_arr-left', 15)
                | К списку новостей
          .news-details__aside
            each item in news
              +item-news(item)






  +menu-catalog(menu)
  +mobile-menu-button('Меню', '#ic_menu')

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")