extends ../layouts/catalog

include ../../blocks/modules/menu-catalog/menu-catalog 
include ../../blocks/modules/menu-info/menu-info

include ../../blocks/components/breadcrumb/breadcrumb 

block variables
  include ../../data/menu
  include ../../data/menu-info

block aside
  +menu-info(menuInfo, 3)
block content
  .page-info
    .page-info__h1
      h1 Встречайте новый бренд - VELA
    .page-info__breadcrumb
      +breadcrumb(['Главная', 'Новости', 'Встречайте новый бренд - VELA'])
    .page-info__content
      .page-info__text
        .news-details
          .news-details__date
            span 17.05.2019
          .news-details__image
            span(style="background-image: url(/img/news/img1.jpg)")
          .news-details__text
            p Наша компания известна на рынке с 2007 года. Среди наших постоянных клиентов крупные производители металлических и межкомнатных дверей, а так же организации реализующие двери и фурнитуру по всей РБ. Многолетнее сотрудничество с компаниями производящими и реализующими такие известные брэнды как APECS, KALE, Эльбор, Крит позволяет нам обеспечивать стабильность и уверенность нашим партнёрам.
            p Благодаря налаженным связям с поставщиками мы гарантируем послепродажное обслуживание, осуществляем замену брака в случае необходимости. Мы нацелены на долгосрочные взаимовыгодные отношения. Наличие партнеров в Минске позволяет осуществлять бесплатную доставку товара еженедельно. Готовы рассматривать варианты доставки продукции по РБ.

            ul
              li Маркированный список
              li Маркированный список
              li Маркированный список
              li Маркированный список

            h2 Заголовок Н2

            p Благодаря налаженным связям с поставщиками мы гарантируем послепродажное обслуживание, осуществляем замену брака в случае необходимости. Мы нацелены на долгосрочные взаимовыгодные отношения. Наличие партнеров в Минске позволяет осуществлять бесплатную доставку товара еженедельно. Готовы рассматривать варианты доставки продукции по РБ.
            p Благодаря налаженным связям с поставщиками мы гарантируем послепродажное обслуживание, осуществляем замену брака в случае необходимости. Мы нацелены на долгосрочные взаимовыгодные отношения. Наличие партнеров в Минске позволяет осуществлять бесплатную доставку товара еженедельно. Готовы рассматривать варианты доставки продукции по РБ.


            img(src="/img/news/img2.jpg")
          .news-details__back
            a(href="news.html" )
              span
                +icons('#ic_arr-left', 15)
              | К списку новостей

            



  +menu-catalog(menu)

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")