extends ../layouts/catalog

include ../../blocks/modules/menu-catalog/menu-catalog 
include ../../blocks/modules/menu-info/menu-info
include ../../blocks/modules/mapsfilter/mapsfilter

include ../../blocks/components/breadcrumb/breadcrumb 

block variables

  include ../../data/menu
  include ../../data/menu-info
  include ../../data/mapsObj

block aside
  +menu-info(menuInfo, 1)
block content
  .page-info
    .page-info__h1
      h1 Где купить
    .page-info__breadcrumb
      +breadcrumb(['Главная', 'Где купить'])
    .page-info__content
      +maps-filter(mapsObj)


  +menu-catalog(menu)

block scripts
  script(src="https://api-maps.yandex.ru/2.1-dev/?lang=ru_RU")
  script(src="js/main.js")
  script(src="js/vendor.js")