mixin right-popup(content)
  .right-popup
    .right-popup__overlay
    .right-popup__main
      .right-popup__close
        span(data-close-modal="close"): +icons('#ic_close', 40)
      .right-popup__content= content