include ../../modules/form-login/form-login 

mixin right-popup()
  .right-popup(data-modal="login")
    .right-popup__overlay
    .right-popup__main
      .right-popup__close
        span(data-modal-close="login"): +icons('#ic_close', 40)
      .right-popup__content
        +form-login()