.right-popup {
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: 100;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    display: none;

    &.open {
        display: flex;

        .right-popup__main{
            transform: translateX(0);
            visibility: visible;
        }
    }
    
    &__main {
        position: relative;
        background: #fff;
        max-width: rem(350);
        width: rem(350);
        flex-basis: rem(350);
        padding: rem(40);
        visibility: hidden;
        transform: translateX(100%);
        transition: 0.3s ease;
    }

    &__close {
        text-align: right;
    }
}