mixin four-step()
  section.section-four-step
    .container-1310
      .four-step
        .four-step__wrp
          .four-step__item(data-number="01.")
            .four-step__image: +bgimage('/img/home/st_1.svg')
            .four-step__title Оставьте заявку
            .four-step__desc Выбираете дверь. Оставляете заявку на сайте или звоните нам по телефону!
          .four-step__item(data-number="02.")
            .four-step__image: +bgimage('/img/home/st_2.svg')
            .four-step__title Подтверждение заказа
            .four-step__desc Мы свяжемся с вами для уточнения деталей и подтверждения заказа.
          .four-step__item(data-number="03.")
            .four-step__image: +bgimage('/img/home/st_3.svg')
            .four-step__title Замер
            .four-step__desc В удобное вам время выезжает специалист и делает  замеры.
          .four-step__item(data-number="04.")
            .four-step__image: +bgimage('/img/home/st_4.svg')
            .four-step__title Доставка и установка
            .four-step__desc Мы доставляем и устанавливаем двери. Вы оплачиваете заказ и радуетесь. 


