.menu-catalog {
	background: #F9F9F9;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
    z-index: 10;
    padding: rem(15) rem(35);
    max-width: rem(300);
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    @media screen and (max-width: $w1500) {
        padding-top: rem(25);
    }

    
    &__close {
        position: absolute;
        top: 0;
        right: 0px;
        background: #eee;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        cursor: pointer;
        z-index: 1
    }
  
  


    &.open{
        transform: translateX(0);

        
            @media screen and (max-width: $w1024) {
                & .menu-catalog__close {
                    visibility: visible;
                    transform: translateX(100%);
                    transition:  0.3s ease 0.5s;
            }
         
        }
    } 

    
    &__logo{

        display: flex;
        justify-content: center;
        margin-bottom: rem(70);

        @media screen and (max-width: $w1376) {
            margin-bottom: rem(35);
        }

        
        & img {
            max-width: rem(150);

            @media screen and (max-width: $w1500) {
                max-width: rem(100);
            }
    
    
            @media screen and (max-width: $w1280) {
                max-width: rem(80);
                min-width: rem(70); 
            }
    
            @media screen and (max-width: $w940) {
                max-width: rem(55);
                min-width: rem(55); 
            }
        }
    }

    &__wrp{
        & ul{
            list-style-type: none;

            & > li {
                padding: rem(10) 0;
            }
        }
    }
        
}

.menuOpen .header-main__logo {
	@media screen and (min-width: 1024px) and (max-width: 1500px){ 
        margin-right: rem(175);
    }

    @media screen and (min-width: 1024px) and (max-width: 1280px){ 
        margin-right: rem(195);
    }
}