.menu-info{
    &__nav{
        & ul {
            list-style-type: none;

            & a{
                padding:  rem(7) 0;
                display: block;

                &.active{
                    color: $gray;
                }

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}