extends layouts/home
include ../blocks/modules/banner-home/banner-home
include ../blocks/modules/slider-home/slider-home
include ../blocks/modules/product-slider-home/product-slider-home
include ../blocks/modules/top-product/top-product
include ../blocks/modules/about-company/about-company
include ../blocks/modules/last-news/last-news
include ../blocks/modules/top-brands/top-brands
include ../blocks/modules/menu-catalog/menu-catalog
include ../blocks/modules/right-popup/right-popup


block variables
  include ../data/menu
  include ../data/home
  include ../data/catalog
  include ../data/news
  include ../data/about-company
  - const title = "Ulisskom";
  

block content
  +banner-home(arr)
  +slider-home(slide)
  +top-product(catalog)
  +about-company(about)
  +last-news(news)
  +top-brands(data)

  +menu-catalog(menu)
  +right-popup() 

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js") 
