extends layouts/home
include ../blocks/modules/banner-home/banner-home

block variables
	- const title = "Ulisskom"

block content
	+banner-home

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
