extends layouts/home
include ../blocks/modules/banner-home/banner-home
include ../blocks/modules/slider-home/slider-home
include ../blocks/modules/product-slider-home/product-slider-home
include ../blocks/modules/top-product/top-product
include ../blocks/modules/about-company/about-company
include ../blocks/modules/last-news/last-news
include ../blocks/modules/top-brands/top-brands
include ../blocks/modules/menu-catalog/menu-catalog
include ../blocks/modules/right-popup/right-popup


block variables
  - const title = "Ulisskom";
  - const arr = [ 'data1',  'data2' ];
  - 
    const slide = [ 
      { 
        "title": "Бренды",  
        "subtitle": "Широкий перечень популярных брендов", 
        "img": "/img/home/slider1.png",
        "bgColor": "#B6BDC2", 
        "textColor": "#000", 
      },
      { 
        "title": "Оптовые продажи",  
        "subtitle": "Преглашаем к сотрудничеству", 
        "img": "/img/home/slider2.png", 
        "bgColor": "#333333", 
        "textColor": "#fff", 
      },
      { 
        "title": "Акции",  
        "subtitle": "Качественные товары по лучшим ценам", 
        "img": "/img/home/slider3.png", 
        "bgColor": "#E0171A", 
        "textColor": "#fff",  
      } 
    ];
  -
    const about = [
      {
        "icon": "/img/home/about/1.svg",
        "title": "Официальные представители",
        "text": 'Первые на территории РБ импортируем товары таких компаний как "Apecs", "Эльбор", "Крит" и "KALE". Мы являемся официальными представителями брэндов «Стальная линия» и «Форпост».'
      },
      {
        'icon': '/img/home/about/2.svg',
        'title': 'Склад и офис в одном месте',
        'text': 'Наша компания ценит своих покупателей и предлагает самые удобные условия: офис и склад в одном месте.'
      },
      {
        'icon': '/img/home/about/3.svg',
        'title': 'Оптовые продажи ',
        'text': 'Выгодные условия сотрудничества по оптовым продажам. Гибкая система скидок, удобная логистика. Присоединяйтесь!'
      },
      {
        'icon': '/img/home/about/4.svg',
        'title': 'Опыт работы по всей стране',
        'text': 'Компания "УлиссКом" была основана в 2007 в городе Могилеве. Занимается оптово-розничной продажей стальных дверей и фурнитуры по всей территории Республики Беларусь.'
      },
      {
        'icon': '/img/home/about/5.svg',
        'title': 'Широкий ассортимент товаров',
        'text': 'Складская программа компании включает стальные двери более 20 моделей, а также различные виды замков (врезные, цилиндровые и др.), дверных ручек, цилиндров, петель, доводчиков, защелок, задвижек и прочей фурнитуры для металлических и межкомнатных дверей.'
      },
      {
        'icon': '/img/home/about/6.svg',
        'title': 'Приятные цены на всю продукцию',
        'text': 'Прямые поставки из Китая, Турции, России позволяют нам предложить наиболее привлекательные цены. Мы открыты для сотрудничества, ценим своих постоянных партнеров и всегда рады новым клиентам.'
      },

    ];

    const news = [
      {
        "image": "/img/news/img1.jpg",
        "title": "Встречайте новый бренд - VELA",
        "desc": 'Именно тот случай, когда качество доступно!',
        "date": '17 мая 2020'
      },
      {
        'image': '/img/news/img2.jpg',
        'title': 'Открыта вакансия!',
        'desc': 'Требуется талантливый офис-менеджера по продаже дверей',
        "date": '3 мая 2020'
      },
      {
        'image': '/img/news/img3.jpg',
        'title': 'С Днем Победы!',
        'desc': 'Вдохновения Вам на собственные победы!',
        "date": '25 мая 2020'
      },

    ];

    const catalog = [
      {
        'brand':'/img/brands/img1.png',
        'image':'/img/minicard/img1.png',
        'title':'Замок врезной Kale 152 3MR',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img2.png',
        'image':'/img/minicard/img2.png',
        'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img3.png',
        'image':'/img/minicard/img3.png',
        'title':'Замок врезной сувальдный Эльбор',
        'price':'21.50',
      }, 
      {
        'brand':'/img/brands/img4.png',
        'image':'/img/minicard/img4.png',
        'title':'Замок врезной сувальдный Эльбор Кремень',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img1.png',
        'image':'/img/minicard/img1.png',
        'title':'Замок врезной Kale 152 3MR',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img2.png',
        'image':'/img/minicard/img2.png',
        'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img3.png',
        'image':'/img/minicard/img3.png',
        'title':'Замок врезной сувальдный Эльбор',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img4.png',
        'image':'/img/minicard/img4.png',
        'title':'Замок врезной сувальдный Эльбор Кремень',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img1.png',
        'image':'/img/minicard/img1.png',
        'title':'Замок врезной Kale 152 3MR',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img2.png',
        'image':'/img/minicard/img2.png',
        'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img3.png',
        'image':'/img/minicard/img3.png',
        'title':'Замок врезной сувальдный Эльбор',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img4.png',
        'image':'/img/minicard/img4.png',
        'title':'Замок врезной сувальдный Эльбор Кремень',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img1.png',
        'image':'/img/minicard/img1.png',
        'title':'Замок врезной Kale 152 3MR',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img2.png',
        'image':'/img/minicard/img2.png',
        'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
        'price':'21.50',
      },
      {
        'brand':'/img/brands/img3.png',
        'image':'/img/minicard/img3.png',
        'title':'Замок врезной сувальдный Эльбор',
        'price':'21.50',
      }


    ];

    const menu =[
      'Дверные ручки',
      'Дверные замки',
      'Петли',
      'Цилиндровые механизмы',
      'Фурнитура',
      'Уплотнитель самоклеющийся',
      'Доводчики',
      'Межкомнатные механизмы',
      'Фурнитура для раздвижных дверей',
      'Сопутствующие товары',
    ];


block content
  +banner-home(arr)
  +slider-home(slide)
  +top-product(catalog)
  +about-company(about)
  +last-news(news)
  +top-brands(data)

  +menu-catalog(menu)

  +right-popup('Вход')

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
