extends layouts/home
include ../blocks/modules/banner-home/banner-home
include ../blocks/modules/slider-home/slider-home
include ../blocks/modules/product-slider-home/product-slider-home


block variables
  - const title = "Ulisskom"
  - const arr = [ 'data1',  'data2' ];
  - 
    const slide = [ 
      { 
        "title": "Бренды",  
        "subtitle": "Широкий перечень популярных брендов", 
        "img": "/img/home/slider1.png",
        "bgColor": "#B6BDC2", 
        "textColor": "#000", 
      },
      { 
        "title": "Оптовые продажи",  
        "subtitle": "Преглашаем к сотрудничеству", 
        "img": "/img/home/slider2.png", 
        "bgColor": "#333333", 
        "textColor": "#fff", 
      },
      { 
        "title": "Акции",  
        "subtitle": "Качественные товары по лучшим ценам", 
        "img": "/img/home/slider3.png", 
        "bgColor": "#E0171A", 
        "textColor": "#fff",  
      } 
    ];

block content
  +banner-home(arr)
  +slider-home(slide)
  .container-1510
    +product-slider-home(slide)

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
