.item-action{
    &__image{

        overflow: hidden;
        position: relative;

        &:hover{
            & span {
                transform: scale(1.05);
            }
        }

        & span {
            padding-top: 65%;
            @include bgimage_cover;
        }

        & .layer{
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            padding: rem(15);
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;

            & a{
                color: #fff;
                background: #ccc;
                display: inline-block;
                margin-right: rem(10);
                padding: 0 rem(10);
                font-size: rem(12);
                text-transform: uppercase;
                font-weight: bold;
                height: rem(28);
                line-height: rem(28);
                white-space: nowrap;

                &.sticker-active{
                    background-color: #82AB86;
                }

                &.sticker-notactive{
                    background-color: #C16C6C;
                }
            }
        }
    }

    &__date{

        padding: rem(15) 0 0 0;

        & span {
            color: $gray;
            border: 1px solid $lgray;
            box-sizing: border-box;
            border-radius: 5px;
            padding: rem(3) rem(13);
            font-size: 13px;

            @media screen and (max-width: $w940) {
                border: none;
                padding: rem(3) rem(10);
            }
        }
    }

    &__title{

        padding: rem(15) 0;

        & a {
            @include h2;
            line-height: 120%;
            
            @media screen and (max-width: $w940) {
                font-size: rem(18);
            }
             

            &:hover{
                color: $red
            }
        }
    }

    &__desc{
        color: $gray;
    }

   
}