mixin last-news(data)
    section.last-news
        .container-1510
            +h1('Новости')
            .last-news__list
                .last-news__item
                    div(style={"padding-top": "60%", "background-color": "#ccc"})
                .last-news__item
                    div(style={"padding-top": "60%", "background-color": "#ccc"})
                .last-news__item
                    div(style={"padding-top": "60%", "background-color": "#ccc"})