include ../item-news/item-news 

mixin last-news(data)
  section.last-news
    .container-1510
      +h1('Новости')
      .last-news__list
        each item, index in data
          if index < 3
            .last-news__item
              +item-news(item)