mixin minicard(data)
  .minicard
    .minicard__wrp
      .minicard__header
        .minicard__status.minicard__status--toorder
          span Под заказ
        .minicard__brand
          span(style="background-image: url("+data.brand+")")
      .minicard__image
        a(href="/card.html")
          span
            img(src=""+data.image+"")
      .minicard__title 
        a(href="/card.html")= data.title
      .minicard__price= data.price
        span.currency BYN
