mixin minicard(data)
    .minicard
        .minicard__wrp
            .minicard__header
                .minicard__status.minicard__status--toorder
                    span Под заказ
                .minicard__brand
                    span(style="background-image: url(/img/minicard/brands/logo1.png)")
            .minicard__image
                a(href="/card.html")
                    span
                        img(src="/img/minicard/img1.png")
            .minicard__title 
                a(href="/card.html") Замок врезной сувальдный Эльбор Гранит 1.06.02 
            .minicard__price 21.50 
                span.currency BYN
