.minicard{

    border: 1px solid $lgray;
    padding: rem(20) rem(20);
    background: #fff;

    @media screen and (max-width: $w760) {
        padding: rem(15) rem(15) rem(15) rem(15);
    }
    

    &__header{
        display: flex;
        align-items: center;
    }

    &__status{
        flex-basis: 60%;
        width: 60%;
        max-width: 60%;
       

        &--toorder{
            color: $mgray;

            & span {
                display: flex;
                align-items: center;

                &::before{
                    width: 5px;
                    height: 5px;
                    display: inline-block;
                    content: '';
                    background-color: $mgray;
                    border-radius: 50%;
                    margin-right: rem(10); 
                }
            }
        }
        
    }

    &__brand{
        flex-basis: 40%;
        width: 40%;
        max-width: 40%;

        & span{
            display: block;
            background-size: contain;
            background-position: right center;
            height: rem(25);
            background-repeat: no-repeat;
        }
    }

    &__image{

        position: relative;

        & span{
            @include box-square;
            & img {
                @include img-contain;
            }
        }
    }

    &__title{
        height: rem(40);
        margin-bottom: rem(15);
        overflow: hidden;

        & a {
            color: $gray;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__price{
        color: #000;
        font-weight: 600;
        font-size: 16px;
    }

    &__action{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-top: rem(15);

        @media screen and (min-width: $w760) {
            display: none;
        }
    }

    &__action-tofav {
        display: flex;
        align-items: center;
        color: $gray;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }

        &.active{
            color: $red;

            & svg {
                fill: $red;
            }
        }

        & svg {
            fill: $gray;
            margin-right: rem(10);
        }

        & span{
            @media screen and (max-width: $w760) {
                display: none;
            }
        }
    }

    &__action-tobasket {

        & .btn{
            padding: 0 rem(15);
        }

        & svg{
            fill: #fff;
            margin-right: rem(10);
        }

        @media screen and (max-width: $w760) {
            & .btn{
                background: transparent;
                color: $red;
                font-weight: bold;
                height: 30px;
                padding: 0;

                &:hover{
                    background: transparent;
                }
            }
    
            & svg{
                fill: $red;
            } 
        }
    }

    
}

.stickers{
    list-style-type: none;
    position: absolute;
    right: 0;
    margin-top: rem(12);
    z-index: 1;

    & li {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 rem(10);
        text-align: center;
        height: rem(25);
        line-height: rem(25);

        @media screen and (max-width: $w760) {
            font-size: 10px;
            height: rem(20);
            line-height: rem(20);
        }
    }

    &__new{
        background: #82AB86;
        color: #fff;
    }
    &__top{
        background: #D99F49;
        color: #fff;
    }
}