.order-create{

    padding: rem(30) 0;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title{
        font-weight: bold;
        font-size: rem(36);
        line-height: rem(47);

        @media screen and (max-width: $w760) {
            font-size: rem(24);
            line-height: 120%;
        }
    }
    &__subtitle{
        font-size: rem(14);
        line-height: rem(20);
        margin-top: rem(20);
        margin-bottom: rem(40);
    }
    &__action{
        display: flex;
        max-width: rem(600);

        @media screen and (max-width: $w480) {
            flex-direction: column;

            & a {
                width: 100%;
                margin-bottom: rem(10);
            }
        }

        & a {
            flex-grow: 1;
            width: 50%;

            &:first-child{
                margin-right: rem(10);
            }

            & .btn {
                width: 100%;
            }
        }
    }
}