mixin order-create()
  .order-create
    .order-create__title Ваш заказ №3951 от 30.07.2020 успешно создан
    .order-create__subtitle Вы можете следить за выполнением своего заказа в Персональном разделе сайта. <br> Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.
    .order-create__action
      a: button.btn.btn-red На главную