mixin page404()
  .page404
    .page404__title 404
    .page404__subtitle Кажется, этой страницы не существует
    .page404__active
      .page404__btn
        button.btn.btn-red В каталог
      .page404__btn
        button.btn.btn-dark На главную
