mixin catatog-subcat(data)
  .catatog-subcat
    .catatog-subcat__list
      each item, index in data
        .catatog-subcat__item
          .subcat-item
            .subcat-item__img
              if item.image
                a(href="#"): img(src=""+item.image+"")
              else
                a(href="#"): img(src="/img/catalog/cat"+index+".png")
            if !item.name
              .subcat-item__title
                a(href="#")= item   