mixin banner-home(data)
  .banner-home
    .banner-home__wrp
      .banner-home__slider.owl-carousel
        each item in data
          .banner-home__slide
            .banner-home__bg(style="background-image: url(img/home/slide-bg.jpg)")
            .container-1510  
              .banner-home__left
                .banner-home__subtitle продажа дверной фурнитуры
                .banner-home__title Надежность и стильный дизайн 
                .banner-home__desc Импортируем товары таких компаний как "Apecs", "Эльбор", "Крит" и "KALE". <br> Мы являемся официальными представителями брэндов «Стальная линия» и «Форпост».
                .banner-home__btn
                  a
                    button.btn.btn-red Перейти в каталог
              .banner-home__right
                img(src="img/home/slide-img.png") 
