.btn{

    height: rem(40);
    color: #fff;
    border: none;
    padding: 0 rem(30);
    color: $dark;
    background: $lgray;
    cursor: pointer;

    &.btn-red{
        color: #fff;
        background-color: $red;
    }

    &.btn-line{
        border: 1px solid #000000;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    &.btn-line-radius{
        background: transparent;
        border: 1px solid $mgray;
        border-radius: rem(40);

        &:hover{
            border-color: $red;
        }
    }
}