.pagination {
    display: flex;
    justify-content: space-between;
    padding-top: rem(55);
    padding-bottom: rem(30);



    &__page {

        display: flex;
        align-items: center;

        & ul {
            display: flex;
            list-style-type: none;

            & li {

                margin-left: rem(10);

                &.active a {
                    color: $mgray;
                }

                & a {
                    width: rem(40);
                    height: rem(40);
                    display: flex;
                    border: 1px solid $lgray;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    &:hover {
                        border-color: $red;
                        color: $red;
                    }
                }

            }
        }

    }

    &__all {
        margin-bottom: rem(15);
        width: 100%;

        @media screen and (max-width: $w480) {
            margin-bottom: rem(15);
        }

        & .btn {
            @media screen and (min-width: $w1280) {
                width: 100%;
                max-width: 200px;
                height: 38px;
            }
        }
    }
}