mixin basketcard(item)
  .basketcard
    .basketcard__image
      a(href="card.html"): span: img(src=""+item.image+"")
    .basketcard__main
      .basketcard__title: a(href="card.html")= item.title
      .basketcard__price
        .basketcard__price-current= item.price+" BYN"
        .basketcard__price-old= item.price+" BYN"
      .basketcard__state
        span.card-details__state-present 
          +icons('#ic_arrow-ok', 12)
          |В наличии
        //- span.card-details__state-toorder - под заказ
    .basketcard__count
      .basketcard__title Количество
      .basketcard__count-wrp
        span.basketcard__count-dec -
        span.basketcard__count-num 
          input(type="text" value="1")
        span.basketcard__count-inc +

    .basketcard__cost
      .basketcard__title Стоимость
      .basketcard__price-current= item.price+" BYN"
    .basketcard__remove
      +icons('#ic_close', 22)