.footer{

    background: $dark;
    margin-top: rem(60);

    &__nav {
        display: flex;
        align-items: center;
        padding: rem(40) 0;

        @media screen and (max-width: $w760) {
            flex-direction: column;
        }
    }

    &__catalog{
        display: flex;
        align-items: center;
        color: $white;
        margin-right: rem(30);
        white-space: nowrap;

        @media screen and (max-width: $w760) {
            margin-bottom: rem(30);
        }

        & .nav__catalog{
            font-size: 16px;
            font-weight: bold;
            margin-top: -1px;
        }

        & .nav__hamburger i{
            background: #fff;
        }
    }

    &__link{

        flex-grow: 1;
        width: 100%;

        & ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            width: 100%;
            justify-content: space-between;
            /* width: 100%; */
            max-width: 1150px;
            margin-left: auto;

            @media screen and (max-width: $w760) {
                display: block;
                column-count: 2;
                width: 100%;
                text-align: center;
            }


            & a {
                color: #fff;
                font-size: 16px;
                font-weight: bold;
            }
        }

    }


}


/* copyright */

.footer-copyright{
    background: #272727;
    color: #6d6d6d;
    
    & .container-1510{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(10) ;
        padding-bottom: rem(10) ;

        @media screen and (max-width: $w760) {
            flex-direction: column;
            text-align: center;
        }
    }

    & a {
        color: #6d6d6d;
    }

    &__dev{
        
        & a {
            display: flex;
            align-items: center;

            & svg {
                margin-left: rem(10);
            }
        }

        @media screen and (max-width: $w760) {
            margin-top: rem(10);
        }


    }
}