.footer{

    background: $dark;
    margin-top: rem(60);

    &__nav {
        display: flex;
        align-items: center;
        padding: rem(40) 0;
    }

    &__catalog{
        display: flex;
        align-items: center;
        color: $white;
        margin-right: rem(30);

        & .nav__hamburger i{
            background: #fff;
        }
    }

    &__link{

        flex-grow: 1;

        & ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            width: 100%;
            justify-content: space-between;


            & a {
                color: #fff;
            }
        }

    }


}


/* copyright */

.footer-copyright{
    background: #272727;
    color: #6d6d6d;
    
    & .container-1510{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(10) 0;
    }

    & a {
        color: #6d6d6d;
    }

    &__dev{
        
        & a {
            display: flex;
            align-items: center;

            & svg {
                margin-left: rem(10);
            }
        }



    }
}