include ../../modules/card-callback/card-callback.pug

-
  const menufooter = [
    ['Акции','action.html'],
    ['Услуги','services.html'],
    ['Где купить','where-buy.html'],
    ['О компании','about.html'],
    ['Партнерам','partners.html'],
    ['Гарантии','warranty.html'],
    ['Бренды','brands.html'],
    ['Полезно знать','moreinfo.html'],

  ]; 

.footer
  .container-1510
    .footer__nav
      .footer__catalog
        .nav__hamburger
          i
          i
          i
        .nav__catalog Каталог дверей
      .footer__link
        ul
          each link in menufooter
            li
              a(href=""+link[1]+"")= link[0]
.footer-copyright
  .container-1510
    .footer-copyright__info © ЧТУП "УлиссКом", 2007 - 2020. Все права защищены
    .footer-copyright__dev
      a(href="https://promicom.ru" target="_blank") Digital-агентство
        svg(width='150px' height='20px')
          use(xlink:href="/img/sprites/sprite.svg#logodev")

+card-one-click()
+card-one-call()
