.page-basket{

    padding-top: rem(50);

    &__main{
        @include row-flex();
        @include md(justify-content, flex-start);
    }

    &__list{
        @include col();
        @include size-lg(8.5);
        @include size-md(12);
        @include size-sm(12);
        @include size-xs(12);

        @media screen and (min-width: $w1280){
            padding-right: rem(15);
        }

        @media screen and (max-width: $w580) {
            flex-wrap: wrap;
            display: flex;
            align-items: stretch;
            @media screen and (min-width: 400px) and (max-width: $w580) {
                & .basketcard{
                    border: none;
                }
            }
        } 

    }

    &__item{

        width: 100%;

        @media screen and (min-width: 400px) and (max-width: $w580) {
            width: 50%;
            max-width: 50%;
            flex-basis: 50%;
            border: 1px solid $lgray;
            margin-right: -1px;
            margin-top: -1px;
        }
    }

    &__aside{

        @include col();
        @include size-lg(3.5);
        @include size-md(12);
        @include size-sm(12);
        @include size-xs(12);

    }

    &__h1{
        margin-bottom: rem(30);
    }

    &__breadcrumb{
        padding-bottom: rem(30);
    }

    &__aside{
        background: #f9f9f9;
        padding: rem(35);
        align-self: flex-start;

        @media screen and (max-width: $w940) {
            margin-top: rem(30);
        }

        @media screen and (max-width: $w1280) {
            padding: rem(20);
        }
    }

    
}
