.page-basket{

    padding-top: rem(50);

    &__main{
        @include row-flex();
        @include md(justify-content, flex-start);
    }

    &__list{
        @include col();
        @include size-lg(8.5);
        @include size-md(12);
        @include size-sm(12);
        @include size-xs(12);

        @media screen and (min-width: $w1280){
            padding-right: rem(15);
        }

        @media screen and (max-width: $w580) {
            flex-wrap: wrap;
            display: flex;
            align-items: stretch;
            @media screen and (min-width: 400px) and (max-width: $w580) {
                & .basketcard{
                    border: none;
                }
            }
        } 

    }

    &__item{

        width: 100%;

        @media screen and (min-width: 400px) and (max-width: $w580) {
            width: 50%;
            max-width: 50%;
            flex-basis: 50%;
            border: 1px solid $lgray;
            margin-right: -1px;
            margin-top: -1px;
        }
    }

    &__aside{

        @include col();
        @include size-lg(3.5);
        @include size-md(12);
        @include size-sm(12);
        @include size-xs(12);

        @media screen and (min-width: $w760) {
            position: sticky;
            top: 0;
        }

    }

    &__h1{
        margin-bottom: rem(30);
    }

    &__breadcrumb{
        padding-bottom: rem(30);
    }

    &__aside{
        background: #f9f9f9;
        padding: rem(35);
        align-self: flex-start;

        @media screen and (max-width: $w940) {
            margin-top: rem(30);
        }

        @media screen and (max-width: $w1280) {
            padding: rem(20);
        }

        @media screen and (max-width: $w760) {
            margin: 0;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: auto;
            width: 100%;
            box-shadow: 0 0 15px 0 rgba(0,0,0, 0.5);
            background: $red;
            color: #fff;
            z-index: 50;

            /* &::before  {
                content: 'Подробнее';
                color: #000;
                background: #fff;
                padding: 7px 20px 6px;
                border-radius: 50px;
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -16px;
                font-weight: bold;
                text-transform: uppercase;
            } */

            & .basket-aside__type,
            & .basket-aside__edit-order,
            & .basket-aside__goods,
            & .basket-aside__button,
            & .basket-aside__total,
            & .basket-aside__delivery,
            & .basket-aside__title::after {
              display: none;
            }

            & .basket-aside__subtitle {
                padding-bottom: 0;
                padding-top: rem(5);
            }

            &.open {

                background: #f5f5f5;
                color: #000;
                max-height: 100%;
                overflow-y: scroll;

                & .basket-aside__type,
                & .basket-aside__edit-order,
                & .basket-aside__goods,
                & .basket-aside__total,
                & .basket-aside__delivery,
                & .basket-aside__title::after,
                & .basket-aside__button {
                    display: block;
                }
            }
        }

        

    }      

    
}
