.basket-ordering{
    border: 1px solid $lgray;
    padding: rem(40) rem(43);

    @media screen and (max-width: $w940 ) {
        padding: rem(30) rem(33);
    }

    @media screen and (max-width: $w580 ) {
        padding: rem(20) rem(23);
    }
}

.radio-max{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(15);

    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: rem(20);
    }

    &__input{
        flex-grow: 1;
        
        & .radio{
            max-width: rem(450);
        }

        @media screen and (max-width: 640px) {
            flex-basis: 100%;
            margin-bottom: rem(10);
        }
    }

    &__desc{
        @media screen and (max-width: 640px) {
            margin-left: rem(5);
        }
    }

    &__desc,
    &__price{
        padding: 0 rem(20);
        color: $gray;
        white-space: nowrap;
    }

    &__price{
        font-weight: bold;
        color: #000;
    }
}