/* page card */

.page-card {
    &__bareadcrumb {
        padding: rem(20) 0;
    }

    &__info {
        @include row-flex();
        @include md(justify-content, flex-start);

        @media screen and (max-width: 992px) {
            .page-card__info {
                max-width: 700px;
                margin: 0 auto;
            }
        }
    }

    &__image {
        @include col();
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(12);
        @include size-sm(12);
        @include size-xs(12);
    }

    &__details {
        @include col();
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(12);
        @include size-sm(12);
        @include size-xs(12);
    }

    &__moreinfo {
        padding: rem(40) 0;
        background: #f9f9f9;
        margin-top: rem(60);
    }

    &__similar-h2 {
        @include h2;
        margin-bottom: rem(30);
        margin-top: rem(30);
    }


}

.card-details {

    @media screen and (min-width: $w1280) {
        padding-top: rem(20);
        padding-left: rem(25);
    }

    @media screen and (max-width: 992px) {
        padding-top: 30px;
    }

    &__h1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: rem(10);

        @media screen and (max-width: $w480) {
            font-size: 12px;
        }

        & .details_fav {
            margin-top: rem(10);
            cursor: pointer;

            & svg {
                fill: transparent;
                stroke: $gray;
                width: 22px;
                height: 22px;
            }

            &.active svg {
                fill: $red;
                stroke: $red;
            }

            &:hover svg {
                stroke: $red;
            }
        }
    }

    &__rating {

        display: flex;
        align-items: center;
        padding-bottom: rem(20);


        & ul {
            display: flex;
            align-items: center;
            list-style-type: none;
        }

        & li {
            margin-right: rem(5);
        }

        & a {
            color: $red;
            text-decoration: underline;
            margin-left: rem(10);
            margin-top: -3px;
        }

        & svg {
            fill: #fff;
        }
    }

    &__info {

        padding-bottom: rem(20);

        & ul {
            list-style-type: none;
            color: $gray;

            & span {
                color: #000;
                margin-left: rem(5);
            }
        }
    }

    &__state {
        & span {
            display: flex;
            align-items: center;

            & svg {
                margin-right: rem(5);
            }
        }
    }

    &__state-present {
        color: $green;
        margin-left: 10px;
        margin-top: -2px;

        & svg {
            margin-right: rem(5);
        }
    }

    &__state-toorder {
        color: $red;
    }

    &__cost {
        padding: 20px 0 27px 0;
    }

    &__price {


        display: flex;

        @media screen and (max-width: $w580) {
            flex-direction: column;
        }

        &-one {
            border: 1px solid #E5E5E5;
            padding: 19px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 18px;
            background: #F9F9F9;
            width: 100%;
            max-width: 160px;
            cursor: pointer;

            &.active {
                border: 1px solid #E0171A;
                background: #fff;
            }

            &:hover {
                border-color: $red;
            }

            & input {
                display: none;
            }

            @media screen and (max-width: 380px) {
                max-width: none;
                text-align: center;
            }
        }

        &-complex {
            border: 1px solid #E5E5E5;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            margin-left: 10px;
            background: #F9F9F9;
            box-sizing: border-box;
            border-radius: 18px;
            max-width: 407px;
            cursor: pointer;

            &.active {
                border: 1px solid #E0171A;
                background: #fff;
            }

            &:hover {
                border-color: $red;
            }

            & input {
                display: none;
            }

            @media screen and (max-width: $w580) {
                padding: 19px 20px;
                margin-left: 0;
                margin-top: 10px;
            }

            @media screen and (max-width: 380px) {
                flex-direction: column;
            }

        }

        &-cost {
            font-size: rem(20);
            font-weight: bold;
            white-space: nowrap;
        }

        &-title {
            color: $gray;
            white-space: nowrap;
            padding-bottom: rem(7);
            margin-top: -5px;
            color: $gray;

        }

        &-left {
            margin-right: rem(25);

            @media screen and (max-width: 380px) {
                padding-bottom: 15px;
                text-align: center;
            }

        }

        &-right {
            border-left: 1px solid #CFCFCF;
            padding-left: rem(25);
            color: $gray;

            @media screen and (max-width: 380px) {
                border-left: 0px solid #CFCFCF;
                border-top: 1px solid #CFCFCF;
                padding-left: rem(0);
                text-align: center;
                padding-top: 15px;
            }
        }


    }

    &__colors {

        padding-bottom: rem(25);

        & ul {
            list-style-type: none;
            display: flex;

            & li {
                margin-right: rem(15);

                & span {
                    width: rem(41);
                    min-width: rem(41);
                    max-width: rem(41);
                    height: rem(41);
                    min-height: rem(41);
                    max-height: rem(41);
                }
            }
        }
    }

    &__sizes {
        & ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            & li {
                width: auto;
                margin-right: rem(10);
                margin-bottom: rem(10);

                & span {
                    min-width: auto;
                    padding: 0 rem(20);

                    box-shadow: 0 0 0 1px #E6E6E6;
                }
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        padding: rem(40) 0;

        @media screen and (max-width: $w480) {
            flex-wrap: wrap;

            & div {
                flex-grow: 1;
            }
        }

        & div {
            margin-right: rem(15);
        }
    }

    & .details-action__count {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    & .details-action__count-dec,
    & .details-action__count-inc {
        width: rem(40);
        height: rem(40);
        border: 1px solid $lgray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            border-color: $red;
            color: $red;
        }
    }

    & .details-action__count-num {
        width: rem(40);
        height: rem(40);
        display: block;

        & input {
            border: 1px solid $lgray;
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            border-left: none;
            border-right: none;
        }
    }

    & .details-action__quest {

        display: flex;
        align-items: center;



        & .btn {
            border-color: $red;
            color: $red;
            text-transform: none;
            font-weight: normal;

            height: 44px;
            width: 100%;
            max-width: rem(165);

            @media screen and (max-width: 440px) {
                width: 100%;
                justify-content: center;
                margin-top: rem(20);
            }
        }

        & .btn-red {
            color: #fff;
            margin-right: 10px;
        }
    }

    & .details-action__tobasket {
        & .btn {
            @media screen and (max-width: $w480) {
                width: 100%;
                justify-content: center;
            }

            & svg {
                fill: #fff;
                margin-right: rem(10);
            }
        }
    }

    &__desc {
        color: $gray;
    }

    & .details-title {
        color: $gray;
        margin-bottom: rem(10);
    }


}

/* card-moreinfo */

.card-moreinfo {
    &__tabs {
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;

            @media screen and (max-width: $w760) {
                overflow-x: auto;
                overflow-y: hidden;
            }

            & li {
                font-size: 24px;
                margin-right: rem(70);
                color: #B8B8B8;
                font-weight: bold;
                cursor: pointer;
                white-space: nowrap;
                padding: rem(10) 0;

                @media screen and (max-width: $w1280) {
                    font-size: 20px;
                }

                & sup {
                    color: $red;
                    font-size: 14px;
                    margin-left: rem(5);
                }

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    color: #000;
                }
            }
        }
    }
}

/* card-slider */

.card-slider {

    display: flex;
    align-items: stretch;

    @media screen and (max-width: $w580) {
        flex-direction: row-reverse;
    }

    &__thumb {
        width: 20%;
        max-width: 20%;
        flex-basis: 20%;
        position: relative;
        padding-right: rem(27);
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $w760) {
            padding-right: rem(12);
        }

        @media screen and (max-width: $w580) {
            padding-right: rem(0);
            padding-left: rem(12);

        }

        & .scroll-overlay {
            height: 100%;
            overflow-x: hidden;
            position: relative;
            margin-bottom: rem(12);

            &.topshw::after {
                content: '';
                box-shadow: 0 0 15px 15px #fff;
                width: 100%;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }

            &.btmshw::before {
                content: '';
                box-shadow: 0 0 15px 15px #fff;
                width: 100%;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 11;
            }
        }

        & ul {
            list-style-type: none;
            position: absolute;
            top: 0;
            left: 0;
            right: -17px;
            bottom: 0;
            overflow-y: scroll;

            @media screen and (max-width: 1024px) {
                right: 0;
            }
        }

        & li {

            border: 1px solid $mgray;
            margin-bottom: rem(12);
            cursor: pointer;

            &:hover {
                border-color: $gray;
            }

            &.active {
                border-color: $red;
            }

            & span {
                @include box-square;

                & img {
                    @include img-contain;
                    max-height: 90%;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__main {
        width: 80%;
        max-width: 80%;
        flex-basis: 80%;

        border: 1px solid $mgray
    }

    &__item {



        & span {
            @include box-square;

            & img {
                @include img-contain;
                max-height: 90%;
            }
        }
    }
}

.card-schema {
    & a {
        @include box-square;
        border: 2px solid $red;

        & img {
            @include img-contain
        }
    }
}

.card-slider__list.owl-carousel:not(.owl-loaded) {
    display: block;
}

.card-slider__list.owl-carousel:not(.owl-loaded)>.card-slider__item {
    display: none;
}

.card-slider__list.owl-carousel:not(.owl-loaded)>.card-slider__item:first-child {
    display: block;
}