/* page card */

.page-card{
    &__bareadcrumb{
        padding: rem(20) 0;
    }

    &__info{
        @include row-flex();
        @include md(justify-content, flex-start);
    }
    &__image{
        @include col();
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(6);
        @include size-sm(12);
        @include size-xs(12);
    }
    &__details{
        @include col();
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(6);
        @include size-sm(12);
        @include size-xs(12);
    }

    &__moreinfo{
        padding: rem(40) 0;
        background: #f9f9f9;
    }

    &__similar-h2{
        @include h2;
        margin-bottom: rem(30);
        margin-top: rem(30);
    }

    
}

.card-details{

    padding-top: rem(20);

    &__h1{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: rem(10);

        @media screen and (max-width: $w480) {
            font-size: 12px;
        }

        & .details_fav{
            margin-top: rem(10);
        }
    }

    &__rating{

        display: flex;
        align-items: center;

        & ul {
            display: flex;
            align-items: center;
            list-style-type: none;
        }

        & li{
            margin-right: rem(5);
        }

        & a{
            color: $red;
            text-decoration: underline;
            margin-left: rem(10); 
        }
    }

    &__info{

        padding: rem(30) 0;

        & ul {
            list-style-type: none;
            color: $gray;

            & span{
                color: #000;
                margin-left: rem(5);
            }
        }
    }

    &__state{
        & span {
            display: flex;
            align-items: center;

            & svg {
                margin-right: rem(5);
            }
        }
    }

    &__state-present{
        color: $green;
    }

    &__state-toorder{
        color: $red;
    }

    &__price{
        font-size: rem(24);
        font-weight: bold;
        padding: rem(20) 0;
    }

    &__action{
        display: flex;
        align-items: center;
        padding: rem(40) 0;

        @media screen and (max-width: $w480) {
            flex-wrap: wrap;

            & div {
                flex-grow: 1;
            }
        }

        & div {
            margin-right: rem(15);
        }
    }

    & .details-action__count{
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    & .details-action__count-dec,
    & .details-action__count-inc{
        width: rem(40);
        height: rem(40);
        border: 1px solid $lgray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;

        &:hover{
            border-color: $red;
            color: $red;
        }
    }

    & .details-action__count-num{
        width: rem(40);
        height: rem(40);
        display: block;

        & input{
            border: 1px solid $lgray;
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            border-left: none;
            border-right: none;
        }
    }

    & .details-action__quest{
        & .btn{
            border-color: $red;
            color: $red;
            text-transform: none;
            font-weight: normal;
            @media screen and (max-width: 440px) {
                width: 100%;
                justify-content: center;
                margin-top: rem(20);
            }
        }
    }

    & .details-action__tobasket{
        & .btn{
            @media screen and (max-width: $w480) {
                width: 100%;
                justify-content: center;
            }
        }
    }

    &__desc{
        color: $gray;
    }

    
}

/* card-moreinfo */

.card-moreinfo{
    &__tabs{
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;

            @media screen and (max-width: $w760) {
                overflow-x: auto;
                overflow-y: hidden;
            }

            & li {
                font-size: 24px;
                margin-right: rem(70);
                color: #B8B8B8;
                font-weight: bold;
                cursor: pointer;
                white-space: nowrap;
                padding: rem(10) 0;

                @media screen and (max-width: $w1280) {
                    font-size: 20px;
                }

                & sup {
                    color: $red;
                    font-size: 14px;
                    margin-left: rem(5);
                }

                &:last-child{
                    margin-right: 0;
                }

                &.active{
                    color: #000;
                }
            }
        }
    }
}

/* card-slider */

.card-slider{

    display: flex;
    align-items: stretch;

    &__thumb{
        width: 20%;
        max-width: 20%;
        flex-basis: 20%;
        position: relative;
        padding-right: rem(27);

        & .scroll-overlay {
            height: 100%;
            overflow-x: hidden;
            position: relative;

            &.topshw::after {
                content: '';
                box-shadow: 0 0 15px 15px #fff;
                width: 100%;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
              }
              
             &.btmshw::before {
                content: '';
                box-shadow: 0 0 15px 15px #fff;
                width: 100%;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 11;
              }
        }

        & ul {
            list-style-type: none;
            position: absolute;
            top: 0;
            left: 0;
            right: -17px;
            bottom: 0;
            overflow-y: scroll;
        }

        & li {

            border: 1px solid $mgray;
            margin-bottom: 12px;
            cursor: pointer;

            &:hover{
                border-color: $gray;
            }

            &.active{
                border-color: $red;
            }

            & span {
                @include box-square;
                & img{
                    @include img-contain
                }
            }
        }
    }
    &__main{
        width: 80%;
        max-width: 80%;
        flex-basis: 80%;

        border: 1px solid $mgray
    }

    &__item{

        

        & span{
            @include box-square;

            & img{
                @include img-contain
            }
        }
    }
}