/* page catalog */

.page-catalog{

    max-width: rem(1490);
    width: 100%;

    &__h1{
        margin-bottom: rem(30);
    }

    &__breadcrumb{
        padding-bottom: rem(15);
    }

    &__sort{
        display: flex;
        align-items: center;
        height: rem(80);
    }

    &__sort-item{
        display: flex;
        align-items: center;

        & span {
            margin-right: rem(10);
            color: $gray;
        }
    }

    &__list{
        @include row-flex();
        @include md(justify-content, flex-start);

        margin: 0;
    }
    &__item{
        @include col();
        @include size-full(2.4);

        @media screen and (max-width: 1770px) {
            @include size-full(3);
        }

        @media screen and (max-width: 1620px) {
            & .minicard__action-tofav span {
                display: none;
            }
        }

        @media screen and (max-width: $w1280) {
            @include size-full(4);
        }

        @media screen and (max-width: $w1024) {
            @include size-full(6);
        }

        @media screen and (max-width: $w760) {
            @include size-full(4);
        }

        @media screen and (max-width: 650px) {
            @include size-full(6);
        }

        @media screen and (max-width: $w360) {
            @include size-full(12);
        }
    

        margin-left: -1px;
        margin-right: 0;
        margin-top: -1px;
        margin-bottom: 0;
        position: relative;

        & .minicard:hover{
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            transition: 0.3s ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            & .minicard__action{
                display: flex;
            }
        }

        

        &:hover{
            z-index: 111;
        }
    }
}
