.news{

    max-width: rem(1140);

    &__list{
        @include row-flex();
        @include md(justify-content, flex-start);
    }
    &__item{
        @include col();
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(6);
        @include size-sm(12);
        @include size-xs(12);

        margin-top: rem(30);
    }
}

.news-details{

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $w1100) {
        flex-direction: column;
    }

    &__article{
        @media screen and (min-width: $w1100) {
            width: 70%;
            flex-basis: 70%;
            max-width: 70%;
        }
    }

    &__aside{

        margin-top: rem(41);

        @media screen and (min-width: $w1100) {
            width: 25%;
            flex-basis: 25%;
            max-width: 25%;
        }

        @media screen and (max-width: $w1100) {
            @include row-flex();
        }

        & .item-news{
            @media screen and (max-width: $w1100) {
                @include col();
                @include size(6)
            }

            @media screen and (max-width: $w480) {
                @include col();
                @include size(12)
            }

            margin-bottom: rem(50);
        }

        & .item-news__title a {
            @media screen and (max-width: $w1440) {
                font-size: rem(18)
            }
        }

        & .item-news__date{
            display: none;
        }

        & .item-news__desc{
            margin-top: rem(-5);
        }
    }

    &__date{
        & span {
            border: 1px solid $lgray;
            border-radius: rem(5);
            padding: rem(3) rem(5);
            display: inline-block;
            font-size: rem(13);
        }

        margin-bottom: rem(15);
    }

    &__image{
        & span {
            padding-top: 30%;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }
    }

    &__back{

        margin-top: rem(30);

        & a{
            display: flex;
            align-items: center;

            &:hover{

                text-decoration: underline;

                & span{
                    border-color: $red;
                }
            }
        }

        & span {
            width: rem(40);
            height: rem(40);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $lgray;
            border-radius: 50%;
            margin-right: rem(10);
        }

        & svg {
            position: relative;
            left: rem(-2);
        }
    }
}