.page-personal{

    padding-top: rem(50);
    min-height: 65vh;

    &__content{
        @include row-flex();
        @include md(justify-content, flex-start);
    }

    &__main{
        @include size-xl(9);
        @include size-lg(8.5);
        @include size-md(8);
        @include size-sm(12);
        @include size-xs(12);
    }

    &__aside{
        @include size-xl(3);
        @include size-lg(3.5);
        @include size-md(4);
        @include size-sm(12);
        @include size-xs(12);
    }

    &__h1{
        margin-bottom: rem(30);
    }

    &__breadcrumb{
        padding-bottom: rem(30);
    }

    &__aside{
        @media screen and (max-width: $w760) {
            padding: 0 rem(25);
            width: 100%;
        }
    }

    &__main{
        padding: rem(30);
        border: 1px solid $lgray;

        @media screen and (max-width: $w760) {
            border: none;
            padding: 0 rem(25);
            margin-top: rem(45);
            width: 100%;
        }
    }

    &__name{
        margin-top: rem(30);
    }

    &__order{
        margin-top: rem(30);
    }

    &__title{
        display: flex;
        align-items: center;
        font-weight: bold;

        @media screen and (max-width: $w480) {
            flex-direction: column;
            align-items: flex-start;
        }

        & span {
            font-weight: normal;
        }
    }

    &__number{
        flex-grow: 1;

        @media screen and (max-width: $w480) {
            margin-bottom: rem(5);
        }
    }

    &__cost{
        @media screen and (max-width: $w480) {
           color: $gray;
        }
    }

    
}

/* personal menu */

.personal-menu{
    & ul {

        list-style-type: none;

        & li {

            @media screen and (max-width: $w760) {
                background-color: #f5f5f5;
            }

            &:hover a,
            &.active a{
                border-color: $red;
            }

            &:last-child:hover a{
                border-color: transparent !important;
            }


            & a{
                display: flex;
                align-items: center;
                height: rem(60);
                padding: 0 rem(30);
                border-left: 2px solid transparent;

                @media screen and (max-width: $w1376) {
                    height: rem(50);
                    padding: 0 rem(20);
                }
            }

            & svg {
                margin-right: rem(15);
            }

            &.fill-red{
                background: $red;
                color: #fff;

                & a {
                    color: inherit;
                }
            }
        }
    }
}

.company-data{

    max-width: rem(620);

    &__item {
        display: flex;
        margin-top: rem(30);

        @media screen and (max-width: $w580) {
            flex-direction: column;
        }

        &.notoffset{
            margin-top: 0;
        }
    }

    &__subitem {
        flex-grow: 1;
        width: 100%;
        margin-right: rem(30);

        @media screen and (max-width: $w580) {
            margin-top: rem(15);
            margin-right: rem(15);


            &:first-child{
                margin-top: 0;
            }
        }

        & p {
            color: $gray;
        }

        & .section-h2{
            color: #B8B8B8;
        }
    }

    &__title{
        font-style: italic;
        color: $gray;
        margin-bottom: rem(5);
    }

    &__text{
        font-size: rem(15);
    }

    & input, textarea{
        width: 100%;
        border: 1px solid $lgray;
        padding: rem(10) rem(15);
        font-style: italic;

        &:focus{
            border: 1px solid $red;
        }
    }

}


.edit-company{

    max-width: rem(600);

    &__form{
        margin-top: rem(30);
    }

    & legend{
        color: #B8B8B8;
    }
}

/* table */

.table{
    display: table;
    width: 100%;
    border-collapse: collapse;

    &__th,
    &__tr{
        display: table-row;
    }

    &__th{
        & .table__td{
            background-color: #f9f9f9;
            color: $gray;
        }
    }

    &__tr{
        & .table__td{
            height: rem(60);
            vertical-align: middle;

            &:last-child{
                font-weight: bold;
            }
        }
    }

    &__td{
        display: table-cell;
        border: 1px solid $lgray;
        padding: rem(10) rem(15);
        text-align: center;

        &:first-child{
            text-align: left;
        }

        & a {
            color: $red;
            text-decoration: underline;
        }
    }

    @media screen  and (max-width: $w1024) {
        
        display: block;

        &__th{
            display: none;
        }

        &__tr{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border: 1px solid $lgray;
            margin-bottom: rem(15);

            & .table__td{
                height: rem(60);
                vertical-align: middle;
                flex-grow: 1;
                border: none;
                height: auto;

                &::before{
                    content: attr(data-title);
                    display: block;
                    color: $gray;
                    font-weight: normal;
                }
    
                &:first-child{
                    flex-basis: 100%;
                    background: #f5f5f5;
                    border-bottom: 1px solid $lgray;

                    &::before{
                        display: inline-block; margin-right: rem(15);
                        display: none;
                    }
                }
            }
        }

    }

    @media screen  and (max-width: $w580) {
        &__tr{
            & .table__td{
                height: rem(60);
                vertical-align: middle;
                flex-basis: 50% ;
                border: none;
                height: auto;
               
            }
        }
    }
}
