.maps-filter{

    &__list{
        @include row-flex();
        @include md(justify-content, space-between);
    }
    &__item{
        @include col();
        @include size(6);
        
        @media screen and (max-width: $w1280) {
            @include size(12);
        }

        margin-bottom: rem(30);
        border: 1px solid $lgray;
    }

    &__map {
        margin-bottom: rem(30);
        position: relative;

        & span {
            display: block;
            height: rem(400);
        }
    }

     
}

