.cart-moreinfo{
    &__itemtab{
        padding: rem(40) 0;
    }
}

.moreinfo-props {
    & ul {
        @include row-flex();
        @include md(justify-content, flex-start);

        list-style-type: none;

        & li{
            @include col();
            @include size-xl(6);
            @include size-lg(6);
            @include size-md(6);
            @include size-sm(12);
            @include size-xs(12);

            display: flex !important;
            align-items: flex-end;
            color: $gray;
            padding: rem(7) 0;
        }

    }
   
    &__dots{
        flex-grow: 1;
        border-bottom: 1px dotted $gray;
        position: relative;
        top: rem(-4);
        margin: 0 rem(4);
    }

    &__val{
        color: #000;
    }
}