-
  const brands = [
    {
      'name': '-',
      'image': '/img/brands/img1.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img2.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img3.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img4.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img5.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img6.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img7.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img8.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img9.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img10.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img11.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img12.png',
    },
    {
      'name': '-',
      'image': '/img/brands/img13.png',
    },
  ];