-
  const colorsNumber = {
    1: 'white',
    10: 'red',
    3: 'gray',
    4: 'orange',
    5: 'black',
    6: 'gray',
    7: 'orange',
    8: 'black',
  } 
  const catalog = [
    {
      'brand':'/img/brands/img1.png',
      'image':'/img/minicard/img1.png',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
      'id': 158,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img2.png',
      'image':'/img/minicard/img2.png',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
      'id': 567,
      'stock': false,
      'sale': false
    },
    {
      'brand':'/img/brands/img3.png',
      'image':'/img/minicard/img3.png',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
      'id': 2134,
      'stock': true,
      'sale': false
    }, 
    {
      'brand':'/img/brands/img4.png',
      'image':'/img/minicard/img4.png',
      'title':'Замок врезной сувальдный Эльбор Кремень',
      'price':'21.50',
      'id': 46,
      'stock': true,
      'sale': true
    },
    {
      'brand':'/img/brands/img1.png',
      'image':'/img/minicard/img1.png',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
      'id': 152358,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img2.png',
      'image':'/img/minicard/img2.png',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
      'id': 15348,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img3.png',
      'image':'/img/minicard/img3.png',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
      'id': 1548,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img4.png',
      'image':'/img/minicard/img4.png',
      'title':'Замок врезной сувальдный Эльбор Кремень',
      'price':'21.50',
      'id': 343,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img1.png',
      'image':'/img/minicard/img1.png',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
      'id': 3432,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img2.png',
      'image':'/img/minicard/img2.png',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
      'id': 134,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img3.png',
      'image':'/img/minicard/img3.png',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
      'id': 767,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img4.png',
      'image':'/img/minicard/img4.png',
      'title':'Замок врезной сувальдный Эльбор Кремень',
      'price':'21.50',
      'id': 3432,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img1.png',
      'image':'/img/minicard/img1.png',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
      'id': 6754,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img2.png',
      'image':'/img/minicard/img2.png',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
      'id': 23,
      'stock': true,
      'sale': false
    },
    {
      'brand':'/img/brands/img3.png',
      'image':'/img/minicard/img3.png',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
      'id': 887,
      'stock': true,
      'sale': false
    },
  ];