-
  const catalog = [
    {
      'brand':'/img/brands/img1.webp',
      'image':'/img/minicard/img1.webp',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img2.webp',
      'image':'/img/minicard/img2.webp',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img3.webp',
      'image':'/img/minicard/img3.webp',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
    }, 
    {
      'brand':'/img/brands/img4.webp',
      'image':'/img/minicard/img4.webp',
      'title':'Замок врезной сувальдный Эльбор Кремень',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img1.webp',
      'image':'/img/minicard/img1.webp',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img2.webp',
      'image':'/img/minicard/img2.webp',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img3.webp',
      'image':'/img/minicard/img3.webp',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img4.webp',
      'image':'/img/minicard/img4.webp',
      'title':'Замок врезной сувальдный Эльбор Кремень',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img1.webp',
      'image':'/img/minicard/img1.webp',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img2.webp',
      'image':'/img/minicard/img2.webp',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img3.webp',
      'image':'/img/minicard/img3.webp',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img4.webp',
      'image':'/img/minicard/img4.webp',
      'title':'Замок врезной сувальдный Эльбор Кремень',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img1.webp',
      'image':'/img/minicard/img1.webp',
      'title':'Замок врезной Kale 152 3MR',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img2.webp',
      'image':'/img/minicard/img2.webp',
      'title':'Замок врезной сувальдный Эльбор Гранит 1.06.02',
      'price':'21.50',
    },
    {
      'brand':'/img/brands/img3.webp',
      'image':'/img/minicard/img3.webp',
      'title':'Замок врезной сувальдный Эльбор',
      'price':'21.50',
    },
  ];