- 
  const filter = [
    {
      'title': 'Производитель',
      'list': [
        'Apecs',
        'Avers',
        'Border',
        'Evrolock',
        'Fuardo',
        'Kale Kilit',
        'Mottura',
        'Viro',
        'Apecs',
        'Avers',
        'Border',
        'Evrolock',
        'Fuardo',
        'Kale Kilit',
        'Mottura',
        'Viro',
      ]
    },
    {
      'title': 'Назначение',
      'list': [
        'Двери и калитки',
        'Двери из алюминиевого профиля',
        'Двери ПВХ профиля',
        'Замки для роллет',
        'Китайские двери',
        'Общее Kilit',
        'Противопожарные двери',
        'Узкопрофильные двери',
      ]
    },
    {
      'title': 'Тип упаковки',
      'list': [
        'Блистер',
        'Коробка',
        'Открытая упаковка',
        'Пакет',
        'Хедер',
      ]
    },
    ]

    const subcat = [
      'Врезные замки',
      'Замки в сборе',
      'Врезные замки',
      'Замки для дверей из ПВХ профиля',
      'Навесные замки',
      'Противопожарные замки',
      'Узкопрофильные замки',
      'Накладные замки',
      'Кодовые замки',
      'Замки для роллет',
      'Электромеханические замки',
      'Прочие врезные замки',
      'Почтовые замки',
    ];