-
  const mapsObj = [
    {
      'image' : 'obj1.jpg',
      'title' : 'ЧТУП УлиссКом',
      'address' : 'г. Могилев, ул. Криулина, д. 27, 2 этаж',
      'time' : [
        {
          'weekday': 'Пн - Пт',
          'time': '7:30-20:30',
        }
      ],
      'phone' : ['+375 (44) 788-88-52']
    },
    {
      'image' : 'obj2.jpg',
      'title' : 'ТЦ АРГО',
      'address' : 'г. Могилев, ул. Габровская, д. 45, 2 этаж, павильон 12 ',
      'time' : [
        {
          'weekday': 'Пн - Пт',
          'time': '7:30-20:30',
        },
        {
          'weekday': 'Сб',
          'time': '8:00-20:00',
        },
        {
          'weekday': 'Вс',
          'time': '8:00-19:00',
        },
      ],
      'phone' : ['+375 (44) 788-88-52']
    },
    {
      'image' : 'obj3.jpg',
      'title' : 'ТЦ Строймаркет',
      'address' : 'г. Могилев, ул. Чайковского, д. 8, 2 этаж, павильон 56',
      'time' : [
        {
          'weekday': 'Пн - Пт',
          'time': '7:30-20:30',
        }
      ],
      'phone' : ['+375 (44) 788-88-52']
    },
    {
      'image' : 'obj3.jpg',
      'title' : 'ИП А. Мацукевич',
      'address' : 'г. Могилев, ул. Быховская, 6 , Быховский рынок, павильон 97-98',
      'time' : [
        {
          'weekday': 'Пн - Пт',
          'time': '11:00 - 20:00',
        },
        {
          'weekday': 'Сб-Вс',
          'time': '11:00 - 19:00',
        }
      ],
      'phone' : ['+375 (44) 788-88-52', '+375 (44) 788-88-52']
    }

  ];