-
  const menu =[
    'Дверные ручки',
    'Дверные замки',
    'Петли',
    'Цилиндровые механизмы',
    'Фурнитура',
    'Уплотнитель самоклеющийся',
    'Доводчики',
    'Межкомнатные механизмы',
    'Фурнитура для раздвижных дверей',
    'Сопутствующие товары',
    ];