-
  const menuInfo = [
    {link: 'О компании', href: 'about.html'},
    {link: 'Где купить', href: 'where-buy.html'},
    {link: 'Партнерам', href: 'partners.html'},
    {link: 'Бренды', href: 'brands.html'},
    {link: 'Доставка и оплата', href: 'delivery.html'},
    {link: 'Как оформить заказ', href: 'how-order.html'},
    {link: 'Новости', href: 'news.html'},
    {link: 'Акции', href: 'action.html'},
  ];