
-
  const news = [
    {
      "image": "/img/news/img1.jpg",
      "title": "Встречайте новый бренд - VELA",
      "desc": 'Именно тот случай, когда качество доступно!',
      "date": '17 мая 2020'
    },
    {
      'image': '/img/news/img2.jpg',
      'title': 'Открыта вакансия!',
      'desc': 'Требуется талантливый офис-менеджера по продаже дверей',
      "date": '3 мая 2020'
    },
    {
      'image': '/img/news/img3.jpg',
      'title': 'С Днем Победы!',
      'desc': 'Вдохновения Вам на собственные победы!',
      "date": '25 мая 2020'
    },
    {
      'image': '/img/news/img4.jpg', 
      'title': 'Поздравляем с 23 февраля!',
      'desc': 'Вдохновения Вам на собственные победы!',
      "date": '25 мая 2020'
    },

  ];

  const action = [
    {
      "image": "/img/news/act1.jpg",
      "title": "Весь февраль скидки от 18% на двери в ТЦ \"Арго\"",
      "desc": 'Именно тот случай, когда качество доступно!',
      "date": 'с 5 февраля 2020 до 29 февраля 2020'
    },
    {
      'image': '/img/news/act2.jpg',
      'title': 'Чёрная пятница в полном разгаре!',
      'desc': 'Требуется талантливый офис-менеджера по продаже дверей',
      "date": 'с 22 ноября 2019 до 23 ноября 2019'
    },
    {
      'image': '/img/news/img3.jpg',
      'title': 'Новые цены на фурнитуру и двери - УлиссКом! ',
      'desc': 'Вдохновения Вам на собственные победы!',
      "date": 'с 5 февраля 2020 до 29 февраля 2020'
    },
    {
      'image': '/img/news/img4.jpg', 
      'title': 'Ликвидация дверей Стальная Линия',
      'desc': 'Вдохновения Вам на собственные победы!',
      "date": 'с 22 ноября 2019 до 23 ноября 2019'
    },

  ];