
-
    const news = [
      {
        "image": "/img/news/img1.jpg",
        "title": "Встречайте новый бренд - VELA",
        "desc": 'Именно тот случай, когда качество доступно!',
        "date": '17 мая 2020'
      },
      {
        'image': '/img/news/img2.jpg',
        'title': 'Открыта вакансия!',
        'desc': 'Требуется талантливый офис-менеджера по продаже дверей',
        "date": '3 мая 2020'
      },
      {
        'image': '/img/news/img3.jpg',
        'title': 'С Днем Победы!',
        'desc': 'Вдохновения Вам на собственные победы!',
        "date": '25 мая 2020'
      },
      {
        'image': '/img/news/img4.jpg', 
        'title': 'Поздравляем с 23 февраля!',
        'desc': 'Вдохновения Вам на собственные победы!',
        "date": '25 мая 2020'
      },

    ];