h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}


* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #000;
    text-decoration: none;
}

html {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    @media screen and (max-width: $w1280) {
        font-size: 13px;
    }
}



img {
    display: block;
    max-width: 100%;
}

.hide {
    display: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 rem(30);

    @media screen and (max-width: $w480) {
        padding: 0 rem(15);
    }
}

.container-1770 {
    max-width: rem(1815);
    margin: 0 auto;
    width: 100%;
    padding: 0 rem(30);

    @media screen and (max-width: $w480) {
        padding: 0 rem(15);
    }
}

.container-1510 {
    max-width: rem(1510);
    margin: 0 auto;
    width: 100%;
    padding: 0 rem(30);

    @media screen and (max-width: $w480) {
        padding: 0 rem(15);
    }
}

.container-1310 {
    max-width: rem(1292);
    margin: 0 auto;
    width: 100%;
    padding: 0 rem(30);

    @media screen and (max-width: $w480) {
        padding: 0 rem(15);
    }
}

main {
    transition: margin 0.3s ease;
}

.tooltip-content {
    display: none !important;
    max-width: 300px;
}

.page-notfound {
    height: 100%;
    display: flex;
    align-items: stretch;
    min-height: 60vh;
}

.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1024) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

.mrgt30 {
    margin-top: rem(30);
}


.main-container {
    display: flex;
    align-items: stretch;


    &__aside {
        background: #f9f9f9;
        width: rem(300);
        min-width: rem(300);
        padding: rem(50);

        @media screen and (max-width: $w1376) {
            width: rem(250);
            min-width: rem(250);
            padding: rem(50) rem(30);
        }

        @media screen and (max-width: $w760) {
            display: none;
        }


        &.open {
            position: fixed;
            background: #f9f9f9;
            z-index: 10;
            left: 0;
            right: 0;
            max-width: auto;
            width: auto;
            top: 0;
            bottom: 0;
            overflow-y: scroll;
            display: block;


            & .menu-info {

                margin: 0 rem(-30);

                & li {
                    border-bottom: 1px solid #ddd;
                    padding: rem(10) rem(30);

                    & a {
                        font-weight: bold;
                        font-size: rem(16);
                    }
                }
            }
        }
    }

    &__content {
        flex-grow: 1;
        padding: rem(50) rem(40);
        max-width: rem(1570);
        margin-right: auto;

        @media screen and (max-width: $w580) {
            padding: rem(30) rem(15);
        }
    }

    & .filter-mobile-button {
        display: flex;
        min-width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        background: $red;
        position: fixed;
        right: rem(20);
        bottom: rem(20);
        border-radius: rem(50);
        padding: 0 rem(20);
        cursor: pointer;
        z-index: 1000;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: rem(1);

        @media screen and (min-width: $w760) {
            display: none;
        }

        & svg {
            fill: #fff;
            margin-right: rem(10);

        }
    }

}

/* page info */

.page-info {

    padding-top: rem(0);

    &__h1 {
        margin-bottom: rem(15);
    }

    &__breadcrumb {
        padding-bottom: rem(40);
    }

    &__content {
        max-width: rem(1200);
        margin-right: auto;
    }

    &__text {
        & ul {
            margin: rem(15) 0;

            & li {
                padding: rem(8) 0;
                background: url(/img/svg/ic_list-type-line.svg) no-repeat left rem(17);
                list-style-type: none;
                padding-left: 50px;
            }
        }

        & ol {
            padding: 0;
            list-style-position: inside;

            & li {
                padding: rem(5) 0;
            }
        }

        & img {
            max-width: 600px;
            width: 100%;
            height: auto;
        }
    }
}